<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="smeyfroi@users.sourceforge.net">Steve Meyfroidt</author>
		<author email="ludovicc@users.sourceforge.net">Ludovic Claude</author>
		<title>Changes</title>
	</properties>
	<body>
		<section name="Change history">
		<pre>
@CHANGES@
		</pre>
		</section>
	</body>
</document>
